.text-center
  %h1 Need help in a hurry with your job search?
  %h4 We can help answer your questions.

  %p
    %a.btn.btn-default{href: '/resume_feedback'} Resume Feedback
  %p
    %a.btn.btn-default{href: '/cover_letter_feedback'} Cover Letter Feedback
  %p
    %a.btn.btn-default{href: '/am_i_qualified'} Evaluate Job Qualifications
