.container
  .text-center
    %h1 Need help in a hurry with your job search?
    %h4 We can help answer your questions.

    %p
      %a.btn.btn-default{href: '/resume_feedback'} Resume Feedback
    %p
      %a.btn.btn-default{href: '/common_questions'} Common questions
    %p
      %a.btn.btn-default{href: '/am_i_qualified'} Evaluate Job Qualifications

    %p Need something else? Tell us more?

    %p Not finding what you are looking for? You can get more indepth help with your job search questions by visiting your local career center.
