.text-center
  %h1 Resume Help
  %h4 After reviewing your resume we can provide the following help:
  %p Formatting Advice
  %p Find spelling errors
  %p Overall feedback

  %br

  %h4 RESPONSES CAN TAKE 1-24 HOURS
  %h4 Feedback provided Monday - Friday

  %a.btn.btn-default{href: '/ask'} Get Help
