.text-center
  %h1 Job Qualifications Help
  %h4 After reviewing your resume we can provide the following help:
  %p Determine if you meet education, skills, and other job requirements.

  %br

  %h4 RESPONSES CAN TAKE 1-24 HOURS
  %h4 Feedback provided Monday - Friday

  %a.btn.btn-default{href: new_qualification_evaluation_path} Get Help
